body { 
    margin:0px;
    padding: 0px;
}
.container_flex_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
}


.header_name {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.icone_header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.cointainer_icones_header { 
    display: flex;
    margin:0px
}

.icone_header {
    display:inline-block;
    margin-left:30px;
    margin-right: 30px;
}
.icones__menu_header { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white;
}
.name_icones_header { 
    font-size: 20px;
    color:white;
}

