
.ContainerHomeBanner {
  display: block;
  max-width: 100%;
}

.ContentVideoBanner {
  display: flex;
}

.ContentVideoBanner video {
    margin-top: -80px;
}

.ContainerContentBanner {
    display: flex;
    max-width: 100%;

    position: absolute;
    z-index: 9998;
    top: 0;
    width: 100%;
    height: 80vh;
}

.ContainerContentBannerBG {
    display: flex;
    max-width: 100%;

    position: absolute;
    z-index: 9997;
    top: 0;
    width: 100%;
    height: 110vh;
    background: linear-gradient(0deg, rgba(0,0,0,0) -10%, rgba(0,0,0, 0.5) 100%);
}


.ContainerLogo {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.ContainerLogo svg {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 150px;
    padding: 20px;
}

.ContentHomeBannerBlock {
    display: block;
    max-width: 100%;
    width: 50%;
    text-align: center;
    margin: 350px auto 0 auto;
    color: white;
}

.ContainerTypingTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerTypingTitle span {
    font-size: 30px;
    color: #0086D1;
}

.ContainerTypingTitle span:nth-child(2) {
    margin-left: 15px;
}

.CustomDividerBlock {
    margin-top: -20vh;
    max-width: 100%;
}

.CustomDividerBlock svg {
    max-width: 100%;
}


@media screen and (max-width: 1500px) {
  .ContainerHomeBanner video {
    margin-top: -70px;
  }

  .ContentHomeBannerBlock {
    margin: 220px auto 0 auto;
  }

  .CustomDividerBlock {
    margin-top: -15vh;
  }
}

@media screen and (max-width: 1200px) {
  .ContainerHomeBanner video {
    margin-top: -60px;
  }

  .ContentVideoBanner {
    display: flex;
  }

  .ContentHomeBannerBlock {
    margin: 140px auto 0 auto;
  }

  .CustomDividerBlock {
    margin-top: -20vh;
    max-width: 100%;
}
}

@media screen and (max-width: 900px) {

  .ContentHomeBannerBlock {
    width: 80%;
    margin: 20vh auto 0 auto;
    font-size: 1rem;
  }

  .CustomDividerBlock {
    margin-top: -18vh;
    z-index: 99;
  }

  .ContentVideoBanner video {
    margin-top: 0;
  }
}

/* @media screen and (max-width: 600px) {
  .ContainerHomeBanner {
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .ContainerHomeBanner video {
    position: absolute;
    width: 350%;
    margin: 10px auto;
  }

  .ContentHomeBannerBlock {
    width: 95%;
    margin: 35vh auto 0 auto;
  }

  .CustomDividerBlock {
    margin-top: 75vh;
    z-index: 99;
  }
} */
