.containerServiceInfo_Cards_Blocks {
  max-width: 90%;
  width: 100%;
  margin: 10vh auto 0 auto;
}

.containerServiceInfo {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 15px;
}

.containerLeftBlock {
  max-width: 40%;
}

.textBlockLeft {
  max-width: 100%;
}

.textBlockLeft h3 {
  font-size: 1.5rem;
}

.textBlockLeft p {
  color: #9d9d9d;
}

.containerService {
  display: flex;
  margin-top: 120px;
  color: #0086D1;
  font-weight: 800;
}

.containerService svg {
  margin-left: 20px;
}


.containerRightBlock {
  max-width: 40%;
}

.containerFootRightBlock {
  max-width: 100%;
}

.containerFootRightBlock_title {
  font-size: 1.5rem;
}

.containerFootRightBlock_text {
  color: #9d9d9d;
}

.blockTextFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockTextFootInfo {
  display: flex;
  align-items: center;
  width: 30%;
}

.blockTextFootInfo h3 {
  color: #0086D1;
  font-size: 3rem;
}

.blockTextFootInfo p {
  font-size: 1rem;
  color: #fff;
  margin-left: 15px;
}

.containerServiceBlocks {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 9999;
}

.blockServiceCard {
  width: 300px;
  height: 270px;
  align-items: center;
  background-color: #1D263C;
  margin: 0 30px 0 30px ;
  padding: 15px;
  transition: 0.5s;
}

.blockServiceCard:hover {
  background-color: #00538F;
}

.titleCardBlock {
  display: flex;
  align-items: center;
}

.containerFootCardLink {
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
}

.firstContainerFootCardLink{
  display: flex;
  align-items: center;
  margin: 126px 0 0 0;
}

.blockServiceCard h3 {
  font-size: 1.2rem;
}

.blockServiceCard div {
  display: flex;
}

.blockServiceCard svg {
  margin: 0 15px 0 10px;
}

.containerDivederServices {
  display: flex;
  margin-top: -20vh;
}

.hideTextLeft {
  opacity: 0;
}

.showTextLeft {
  opacity: 1;
  transform: translateX(0);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: show-text-left-animation 1s ease-in-out 0s 1 normal forwards;
}

@keyframes show-text-left-animation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hideTextRight {
  opacity: 0;
}

.showTextRight {
  opacity: 0;
  transform: translateX(0);
  animation: show-text-right-animation 1s ease-in-out 0s 1 normal forwards;
}

@keyframes show-text-right-animation {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hideBlockServiceCard {
  opacity: 0;
  transform: translateY(0);
}

.showBlockServiceCard1 {
  opacity: 0;
  transform: translateY(100px);
  animation: show-block-service-card-animation 1s ease-in-out 0.5s 1 normal forwards;
}

@keyframes show-block-service-card-animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showBlockServiceCard2 {
  opacity: 0;
  transform: translateY(100px);
  animation: show-block-service-card-animation 1s ease-in-out 1s 1 normal forwards;
}

@keyframes show-block-service-card-animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showBlockServiceCard3 {
  opacity: 0;
  transform: translateY(100px);
  animation: show-block-service-card-animation 1s ease-in-out 1.5s 1 normal forwards;
}

@keyframes show-block-service-card-animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .containerServiceBlocks {
    display: flex;
    flex-wrap: wrap;
  }

  .blockTextFoot {
    flex-direction: column;
  }

  .blockServiceCard {
    margin: 15px 15px 0 0;
  }

  .blockTextFootInfo {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .containerServiceInfo_Cards_Blocks {
    margin:-10vh auto 0 auto;
  }

  .containerServiceInfo {
    flex-direction: column;
    width: 100%;
  }

  .containerService {
    margin: 20px 0 70px 0;
  }

  .containerLeftBlock, .containerRightBlock {
    max-width: 100%;
  }

  .blockTextFoot {
    flex-direction: row;
  }
}
