.bg-full-screen-1{
    background-image: url('./src/images/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1089px;
}


.picture-pedro{
    background-image: url('./src/images/pedro.jpeg');
    background-repeat: no-repeat;
    max-width: 95%;
    background-size: cover;
    min-height: 80vh !important;
    
}

.container-personal{
    max-width: 85%;
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-left-image{
    display: block !important;

    .text-box {
        border: 1px solid black;
        padding: 15px;
        font-size: 30px;
        max-width: 100%;
        width: 70%;
    }

    // .text-box-0{
    //     border: 1px solid black;
    //     padding: 15px;
    //     font-size: 30px;
    //     max-width: 100%;
    //     width: 70%;
    // }
    // .text-box-1{
    //     border: 1px solid black;
    //     padding: 15px;
    //     font-size: 30px;
    //     max-width: 100%;
    //     width: 70%;
    //     // margin-top: 15vh;
    // }
    // .text-box-2{
    //     border: 1px solid black;
    //     padding: 15px;
    //     font-size: 30px;
    //     max-width: 100%;
    //     width: 70%;
    // }
}