.bg-full-screen-contact{
    background-image: url('./src/images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}

.mt-contact{
    margin-top: 200px !important;
}

.container-contact{
    max-width: 90% !important;
}


.form-input{
    color: white;
}