.bg-foot{
    background-color: black;

}

.contaniner-foot-all{
    max-width: 100% !important;
}

.contaniner-foot{
    text-align: center;
    padding: 30px;
}

.content-foot{
    font-size: 25px;
    color: white;
}

.icon-footer{
    color: white;
    width: 50px;
}