.bg-full-screen{
    background-image: url('./src/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1089px;
}

.logo-header{
    max-width: 100%;
    width: 80px;
}

.bg-mask{
    max-width: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.text-container-home{
    max-width: 40% !important;
    margin-top: 250px;

    @media screen and (max-width:700px) {
        max-width: 100% !important;
        margin-top: 80px;
        text-align: center;
    }
}

.tile-home{
    color: white;
    font-size: 60px;
}


.container-header{
    max-width: 100%;
    display: flex;
}

.b-container{
    margin-right: 150px !important;
}
 
.b-menu{
    border:2px solid transparent !important;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 27px !important;
    
    &:hover{
        transition: 0.3s;
        min-height: 0px;
        font-size: 22px;
        border-radius: none !important;
        border-bottom-color: rgb(255, 230, 0) !important;
    }
}