.bg-full-screen{
    background-image: url('./src/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-header{
    
    max-width: 100%;
    width: 80px;


}


.container-header{
    max-width: 100%;
    display: flex;
}