.border-text{
    border: 1px solid black;
}

.container-service{
    overflow: hidden;
    max-width: 100% !important;
}

.fixed-row{
    width: 100%;
    margin-left: -36vw;
}

.fixed-row-midle{
    width: 100%;
    margin-left: -67vw;
}
.fixed-row-end{
    width: 100%;
    margin-left: -100vw;
}


.container-card{
    max-width: 50%;
    
    @media screen and (max-width:700px) {
        max-width: 95%;
    }
    
    .bg-image-card{
        max-width: 70%;
        background-image: url('./src/images/background1.jpeg');
        min-height:500px ;
        background-repeat: no-repeat;
        
        @media screen and (max-width:700px) {
            min-height:300px ;
        }
        
        
        .bg-mask{
            max-width: 100%;
            width: 100%;
            min-height:500px ;
            background-color: rgba(0, 0, 0, 0.541) !important;
            padding: 85px;
            
            @media screen and (max-width:700px) {
                padding: 1px;
                min-height:300px ;
            }

            .content-card{
                border: 1px solid white;
                padding: 40px;
                align-items: center;
                text-align: center;
                color: white;

                @media screen and (max-width:700px) {
                    font-size: 30px;
                    min-height:300px ;
                }
            }
        }
    }
}



.bg-image-service-1{
    min-height:300px;
    background-image: url('./src/images/background1.jpeg');
    background-repeat: no-repeat;
}
.bg-image-service-2{
    min-height:300px;
    background-image: url('./src/images/background2.jpeg');
    background-repeat: no-repeat;
}
.bg-image-service-3{
    min-height:300px;
    background-image: url('./src/images/background1.jpeg');
    background-repeat: no-repeat;
}













@-webkit-keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  @keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  

.slide-animation-1{
    margin-left: 0vw;
    animation-name: slide-animation-1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1; 
}

@keyframes slide-animation-1{
    0%  {
        margin-left: -100vw;
        opacity: 0.2;
    }
    10%  {
        margin-left: -100vw;
        opacity: 0.2;
    }
    20%  {
        margin-left: -100vw;
        opacity: 0.2;
    }
    30%  {
        margin-left: -100vw;
        opacity: 0.2;
    }
    40%  {
        margin-left: -100vw;
        opacity: 0.2;
    }
    50%  {
        margin-left: -48vw;
        opacity: 0.2;
    }
    60%  {
        margin-left: -38vw;
        opacity: 0.3;
    }
    70%  {
        margin-left: -28vw;
        opacity: 0.5;
    }
    80%  {
        margin-left: -18vw;
        opacity: 0.7;
    }
    90%  {
        margin-left: -8vw;
        opacity: 0.9;
    }

    100%{
        margin-left: 0vw;
        opacity: 1;
    }
  }

    .slide-animation-2{
        animation-name: slide-animation-2;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1; 
        margin-left: 0vw;
    }

    @keyframes slide-animation-2{
        0%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        10%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        20%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        30%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        40%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        50%  {
            margin-left: -48vw;
            opacity: 0.2;
        }
        60%  {
            margin-left: -38vw;
            opacity: 0.3;
        }
        70%  {
            margin-left: -28vw;
            opacity: 0.5;
        }
        80%  {
            margin-left: -18vw;
            opacity: 0.7;
        }
        90%  {
            margin-left: -8vw;
            opacity: 0.9;
        }

        100%{
            margin-left: 0vw;
            opacity: 1;
        }
    }


    .slide-animation-3{
        margin-left: 0vw;
        animation-name: slide-animation-3;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1; 
    }
    
    @keyframes slide-animation-3{
        0%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        10%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        20%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        30%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        40%  {
            margin-left: -100vw;
            opacity: 0.2;
        }
        50%  {
            margin-left: -48vw;
            opacity: 0.2;
        }
        60%  {
            margin-left: -38vw;
            opacity: 0.3;
        }
        70%  {
            margin-left: -28vw;
            opacity: 0.5;
        }
        80%  {
            margin-left: -18vw;
            opacity: 0.7;
        }
        90%  {
            margin-left: -8vw;
            opacity: 0.9;
        }
    
        100%{
            margin-left: 0vw;
            opacity: 1;
        }
      }
.position-2{
    margin-left: 0vw !important;
    
}
.position-3{
    margin-left: 0vw !important;
    
}