.midle{
    border: 1px solid black;
    max-width: 0% !important;
    width: 1px;
    padding: 0 !important;
}
.container-all-skills{
    margin-top: 35vh;
}

.level{
    margin-top: 50px;
    width: 120px;
}

.container-icons{
    display: block !important;
}

.js-icon{
    color: #F7DF1E;
}
.html-icon{
    // color: #F16528;
    color: rgb(255, 255, 255);
}
.sass-icon{
    // color: #CF679A;
    color: rgb(255, 255, 255);
}
.bs-icon{
    // color: #634092;
    color: rgb(255, 255, 255);
}

.il-icon{
    background-color: rgb(22, 14, 2);
}

.ph-icon{
    background-color: rgb(22, 14, 2);
}

.xd-icon{
    border-radius: 18px;
    background-color: rgb(22, 14, 2);
}

.icons{
    display: block;
    width: 45px;
}


// ========================================================= bg-white-bar ========================================================
.container-skill{
    display: flex;
}

.container-bar{
    min-height: 10px;
}

.background-bar{
    display: flex;
    max-width: 100%;
    min-height: 10px;
    width: 600px;
    border-radius: 90px;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.110);
    background-color: rgb(236, 236, 236);
}

.background-bar-js, .bg-logo-js
,.background-bar-html,.bg-logo-html
,.background-bar-bs,.bg-logo-bs
,.background-bar-sass, .bg-logo-sass
,.background-bar-ai, .bg-logo-ai
,.background-bar-Ps, .bg-logo-Ps
,.background-bar-xd, .bg-logo-xd

{
    display: block;
    max-width: 100%;
}

.bg-bar{
    display: block;
    padding: 0px 2px 0px 0px;
    max-width: 100%;
    min-height: 50px;
    width: 5vw;
    border-radius: 90px;
}
.container-content-bar{
    max-width: 100%;
    width: 100%;
}

.content{
        text-align: end;
        margin-right: 15px;
        color: rgb(177, 177, 177);
        font-size: 20px;
        margin-top: 26px;
        margin-bottom: 19px;
        display: block;
    }




// ========================================================= js ========================================================

.gradient-js{
    background: linear-gradient(90deg, rgba(213,178,0,1) 0%, rgba(247,223,30,1) 90%, rgba(247,223,30,1) 100%);
}

.bg-logo-js{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 10px;
    margin-right: 19px;
    margin-left: 19px;
    font-size: 40px;
}


// ========================================================= HTML ========================================================

.bg-logo-html{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 12px;
    font-size: 50px;
}
.gradient-html{
    background: linear-gradient(90deg, rgba(182,48,4,1) 0%, rgba(241,101,40,1) 90%, rgba(241,101,40,1) 100%);
}

// ========================================================= sass ========================================================
.gradient-sass{
    // background-color: #f7df1e;
    background: linear-gradient(90deg, rgba(131,8,68,1) 0%, rgba(207,103,154,1) 90%, rgba(207,103,154,1) 100%);
}
.bg-logo-sass{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 10px;
    margin-right: 7px;
    font-size: 50px;
}


// ========================================================= Bootstrap ========================================================
.gradient-bs{
    // background-color: #f7df1e;
    background: linear-gradient(90deg, rgba(34,0,80,1) 0%, rgba(99,64,146,1) 90%, rgba(99,64,146,1) 100%);
}
.bg-logo-bs{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 13px;
    margin-right: 8px;
    font-size: 50px;
}






// ========================================================= Ai ========================================================
.gradient-ai{
    // min-height: 90px;
    // width: 700px;
    // border-radius: 90px;
    // background-color: #f7df1e;
    background: linear-gradient(90deg, rgba(145,53,0,1) 0%, rgba(255,122,27,1) 90%, rgba(255,122,27,1) 100%);
}
    .bg-logo-ai{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 0px;
    margin-right: 17px;
    margin-left: 17px;
    font-size: 50px;
}
// ========================================================= Ps ========================================================
.gradient-ps{
    // min-height: 90px;
    // width: 550px;
    // border-radius: 90px;
    // background-color: #f7df1e;
    background: linear-gradient(90deg, rgba(2,70,171,1) 0%, rgba(65,206,251,1) 90%, rgba(65,206,251,1) 100%);

}
    .bg-logo-Ps{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 7px;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 42px;
}
// ========================================================= XD ========================================================
.gradient-xd{
    // min-height: 90px;
    // width: 350px;
    // border-radius: 90px;
    // background-color: #f7df1e;
    background: linear-gradient(90deg, rgba(140,0,98,1) 0%, rgba(255,38,190,1) 90%, rgba(255,38,190,1) 100%);
    
}
.bg-logo-xd{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 39px;
}






// ========================================================= efects ========================================================
.reset{width: 5vw;}

.grow-animation-1{
    width:45vw;

    animation-name: grow-animation-1;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-1{
        0%  {width:6vw; }
        60% {width:35vw;}
        100%{width:45vw;}
      }
}

.reverse-grow-animation-1{
    widows: 5vw;

    animation-name: reverse-grow-animation-1;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-1{
        0%  {width:45vw; }
        60% {width:25vw;}
        100%{width:5vw;}
      }
}

.grow-animation-2{
    width:70vw;
    animation-name: grow-animation-2;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-2 {
        0%  {width:6vw; }
        60% {width:35vw;}
        80% {width:50vw;}
        90% {width:60vw;}
        100%{width:70vw;}
      }
}

.reverse-grow-animation-2{
    width:4vw;

    animation-name: reverse-grow-animation-2;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-2{
        0%  {width:70vw;}
        30% {width:45vw;}
        70% {width:25vw;}
        80% {width:16vw;}
        100%{width:4vw; }
      }
}

.grow-animation-3{
    width:30vw;
    animation-name: grow-animation-3;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-3 {
        0%  {width:4vw; }
        40% {width:17vw;}
        // 80% {width:20vw;}
        // 90% {width:26vw;}
        100%{width:30vw;}
      }
}

.reverse-grow-animation-3{
    width:5vw;

    animation-name: reverse-grow-animation-3;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-3{
        0%  {width:30vw;}
        50% {width:15vw;}
        100%{width:5vw; }
      }
}

.grow-animation-4{
    width:20vw;
    animation-name: grow-animation-4;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-4 {
        0%  {width:6vw; }
        40% {width:11vw;}
        // 80% {width:20vw;}
        // 90% {width:26vw;}
        100%{width:20vw;}
      }
}
.reverse-grow-animation-4{
    width:5vw;

    animation-name: reverse-grow-animation-4;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-4{
        0%  {width:20vw;}
        50% {width:10vw;}
        100%{width:5vw; }
      }
}
.grow-animation-5{
    width:50vw;
    animation-name: grow-animation-5;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-5 {
        0%  {width:6vw; }
        40% {width:21vw;}
        // 80% {width:20vw;}
        // 90% {width:26vw;}
        100%{width:50vw;}
      }
}
.reverse-grow-animation-5{
    width:5vw;

    animation-name: reverse-grow-animation-5;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-5{
        0%  {width:50vw;}
        40% {width:25vw;}
        100%{width:5vw; }
      }
}
.grow-animation-6{
    width:30vw;
    animation-name: grow-animation-6;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-6 {
        0%  {width:6vw; }
        40% {width:16vw;}
        // 80% {width:20vw;}
        // 90% {width:26vw;}
        100%{width:30vw;}
      }
}
.reverse-grow-animation-6{
    width:5vw;

    animation-name: reverse-grow-animation-6;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-6{
        0%  {width:30vw;}
        50% {width:15vw;}
        100%{width:5vw; }
      }
}
.grow-animation-7{
    width:20vw;
    animation-name: grow-animation-7;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes grow-animation-7 {
        0%  {width:6vw; }
        40% {width:11vw;}
        // 80% {width:20vw;}
        // 90% {width:26vw;}
        100%{width:20vw;}
      }
}
.reverse-grow-animation-7{
    width:5vw;

    animation-name: reverse-grow-animation-7;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes reverse-grow-animation-7{
        0%  {width:20vw;}
        40% {width:13vw;}
        100%{width:5vw; }
      }
}