.border-text{
    border: 1px solid black;
}

.container-service{
    max-width: 80%;
}

.bg-image-service-1{
    min-height:300px;
    background-image: url('./src/images/background1.jpeg');
    background-repeat: no-repeat;
}