.containerAboutMe {
    display: flex;
    margin: 290px auto 0 auto;
}

.containerImage {
    max-width: 100%;
    width: 50%;
}

.imgAboutMe {
    display: flex;
    max-width: 100%;
    width: 40%;
    border-radius: 20px;
    margin: 0 auto;
}

.containerAboutMeTexts {
    display: block;
    max-width: 100%;
    width: 45%;
    color: #030104;
    margin: 0 auto;
}

.containerAboutMeTexts h2 {
    color: #FF7897;
    font-weight: 700;
    margin: 10px 0 10px 0;
    font-size: 30px;
}

.containerAboutMeTexts h5 {
    color: #FF7897;
    font-weight: 400;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.containerAction {
    display: flex;
    margin-top: 50px;
}

.default_btn, .buttonAboutMe, .buttonHireMe {
    display: flex;
    border: none;
    border-radius: 10px;
    align-items: center;
    padding: 10px 15px;
    color: white;
}

.buttonHireMe {
    min-width: 90px;
    cursor: pointer;
    margin: 0 30px 0 0;
    background-color: #FF7897;
    transition: 0.2s ease-out;
}

.buttonHireMe:hover {
    /* cursor: pointer; */
    /* margin: 0 30px 0 0; */
    color: #2C2C2C;
    border: 2px solid #FF7897;
    background: none;
}

.buttonHireMe p {
    margin: 0 auto;
}

.buttonAboutMe p {
    margin: 0;
}

.buttonAboutMe {
    background: none;
    border: 2px solid #FF7897;
    color: #FF7897;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.buttonAboutMe:hover {
    background-color: #FF7897;
    /* border: none; */
    color: #fff;
}

@media screen and (max-width: 800px) {
    .containerAboutMe {
        flex-direction: column;
        margin: 110px auto 0 auto;
    }

    .containerImage {
        width: 100%;
    }

    .imgAboutMe {
        width: 70%;
    }

    
    .containerAboutMeTexts {
        width: 80%;
        margin: 50px auto 0 auto;
    }
    
}