.orbit {
    --size: 12rem;
    --speed: 120s;
    justify-content: center;
    display: flex;
}

  .centerImage {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }

  .imageCenter {
    width: 190px;
    position: relative;
    z-index: 10;
    height: 190px;
  }

  .containerTechIcons img {
    width: 90px;
    transition: 0.5s;
  }

  .centerImage img {
    position: absolute;
    transition: opacity 500ms;
  }
  .orbit .centerImage img:not(:first-child):hover {
    opacity: 0;
  }
  .orbit ul {
    display: grid;
    place-items: center;
    width: var(--size);
    height: var(--size);
    position: relative;
    list-style: none;
    --icon-bg: var(--green-light);
    --text-bg: var(--green-dark);
    transform-origin: center;
    animation: orbit var(--speed) linear infinite;
  }
  .orbit ul:hover {
    animation-play-state: paused;
    --orbit-play-state: paused;
  }
  .orbit li {
    --icon-bg: pink;
    --text-bg: blue;
    position: absolute;
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-weight: 500;
    color: var(--white-light);
    text-align: center;
    line-height: 1;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  .orbit li:hover {
    --throb-play-state: paused;
  }
  .orbit li:nth-child(1) {
    --throb-delay: 0ms;
  }
  .orbit li:nth-child(2) {
    --throb-delay: 500ms;
  }
  .orbit li:nth-child(3) {
    --throb-delay: 1000ms;
  }
  .orbit li:nth-child(4) {
    --throb-delay: 1500ms;
  }
  .orbit li:nth-child(5) {
    --throb-delay: 2000ms;
  }
  .orbit li:nth-child(6) {
    --throb-delay: 2500ms;
  }
  .orbit li:nth-child(7) {
    --throb-delay: 3000ms;
  }
  .orbit li:nth-child(8) {
    --throb-delay: 3500ms;
  }
  .orbit li > * {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: inherit;
    position: absolute;
    animation: orbit var(--speed) linear reverse infinite, throb 1s var(--throb-delay) ease-in-out infinite alternate;
    animation-play-state: var(--orbit-play-state, running), var(--throb-play-state, running);
  }
  .orbit li > p {
    background: var(--text-bg);
    transition: opacity 500ms;
    opacity: 0;
  }
  .orbit li:hover > button > img{
    transition: 0.5s;
    width: 110px !important;
  }
  
  .orbit li:hover > p {
    opacity: 1;
  }
  .orbit li:hover > div {
    opacity: 1;
  }
  .orbit li:nth-child(1) {
    --icon-bg: var(--blue-light);
    --text-bg: var(--blue-dark);
    transform: translate(15rem, 0rem);
  }
  .orbit li:nth-child(2) {
    --icon-bg: var(--green-light);
    --text-bg: var(--green-dark);
    transform: translate(10rem, 10rem);
  }
  .orbit li:nth-child(3) {
    --icon-bg: var(--pink-light);
    --text-bg: var(--pink-dark);
    transform: translate(0, 15rem);
  }
  .orbit li:nth-child(4) {
    --icon-bg: var(--red-light);
    --text-bg: var(--red-dark);
    transform: translate(-10rem, 10rem);
  }
  .orbit li:nth-child(5) {
    --icon-bg: var(--brown-light);
    --text-bg: var(--brown-dark);
    transform: translate(-15rem, 0rem);
  }
  .orbit li:nth-child(6) {
    --icon-bg: var(--yellow-light);
    --text-bg: var(--yellow-dark);
    transform: translate(-10rem, -10rem);
  }
  .orbit li:nth-child(7) {
    --icon-bg: var(--purple-light);
    --text-bg: var(--purple-dark);
    transform: translate(0, -15rem);
  }
  .orbit li:nth-child(8) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(10rem, -10rem);
  }
  
  @keyframes orbit {
    100% {
      rotate: 1turn;
    }
  }
  @keyframes hold-position {
    100% {
      rotate: -1turn;
    }
  }
  @keyframes throb {
    100% {
      scale: 1.05;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
  



  .stackModalContainer {
    display: flex;
    justify-content: center;
  }

  .stackModalBg {
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999999999;
    top: 0;
    justify-content: center;

    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    opacity: 1;
    overflow: auto;
  }

  .showStackModalBg {
  	transition: 1s;    
    opacity: 1;
  }
  
  .hidestackModalBg {
  	transition: 1s;    
    opacity: 0;
    animation: hideStackModal-animation;
    transform: scale(0);
  }

  @keyframes hideStackModal-animation {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  .stackModalBox {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 20px;
    width: 35%;
    position: absolute;
    top: 10%;
    border: 4px solid transparent;
  }

  .headerStackModa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .headerStackModa > h2 {
    margin: 0;
  }

  .dockerStyle {
    /* background: linear-gradient(white, white) padding-box, linear-gradient(to right, #2497ED, rgb(167, 246, 255)) border-box; */
  }

  .hideStackModal {
    opacity: 0;
    transition: 0.6s;
    transition-delay: 0.5s;
    transform: translateY(-200%);
  }
  
  .showStackModal {
    opacity: 1;
    transition: 0.6s;
    transition-delay: 0.5s;
    transform: translateY(0);
  }

  .closeModalStackButton {
    display: flex;
    font-size: 3rem;
    background: none !important;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    cursor: pointer;
  }

  .containerStackButton {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .buttonTechIcons {
    cursor: pointer;
    border: 1px solid #ff000000;
    background: none;
  }

  .boxStackButton {
    margin: 10px 20px;
  }

  .stackButton {
    display: flex;
    width: 200px;
    height: 110px;
    margin: 10px auto;
    background-repeat: no-repeat;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.6s;
  }

  .stackButton:hover {
    /* transform: scale(1.1); */
    transition: 0.6s;
  }

  @media screen and (max-width: 1400px) {
    .stackModalBox {
      width: 45%;
    }
  }

  @media screen and (max-width: 1200px) {
    .stackModalBox {
      width: 60%;
    }
  }

  @media screen and (max-width: 900px) {
    .stackModalBox {
      width: 70%;
    }
  }

  @media screen and (max-width: 700px) {
    .stackModalBox {
      width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .orbit li:nth-child(1) {
      transform: translate(6rem, 0rem);
    }
    .orbit li:nth-child(2) {
      transform: translate(5rem, 5rem);
    }
    .orbit li:nth-child(3) {
      transform: translate(0, 6rem);
    }
    .orbit li:nth-child(4) {
      transform: translate(-5rem, 5rem);
    }
    .orbit li:nth-child(5) {
      transform: translate(-6rem, 0rem);
    }
    .orbit li:nth-child(6) {
      transform: translate(-5rem, -5rem);
    }
    .orbit li:nth-child(7) {
      transform: translate(0, -6rem);
    }
    .orbit li:nth-child(8) {
      transform: translate(5rem, -5rem);
    }

    .imageCenter {
      width: 100px;
      height: 100px;
    }

  .orbit {
    --size: 6rem;
  }

  .orbit li {
    width: 4rem;
  }

  .buttonTechIcons {
    width: 50%;
    height: 50%;
  }

  .containerTechIcons img {
    width: 50px;
  }

  .orbit li:hover > button > img{
    width: 65px !important;
  }

}