.containerHeaderOptions {
    background: #ffffff;
    box-shadow: 1px -5px 60px #999999;
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.selectedPath{ 
    color: #FF7897;
    /* font-weight: 600; */
}

.unSelectedPath {
    color: #000000;
}

.contactButton {
    background: none;
    border: none;
    font-size: 20px;
    margin: 0 40px 0 20px;
    cursor: pointer;
}

.containerHeaderOptionsContent {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
}

.containerLeftHeaderOptions {
    display: flex;
    align-items: center;
    /* max-width: 100%; */
    /* width: 50%; */
}

.containerMenuMobile {
    display: none;
}

.containerLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* width: 100%; */
    /* max-width: 500px; */
}

.containerLinks > a {
    margin: 0 30px;
    font-size: 20px;
}

.logoHeaderOptions {
    width: 60px;
    height: 60px;
    /* margin: 0 0 0 20px; */
}

.buttonModal, .design_button, .code_button {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, #E29869 0%, #25067D 99.03%);
}

.buttonTextModalOptions {
    margin: 0 0 0 10px !important;
}

.code_button {
    background: #1D1D1D;  
}

.design_button {
    background: linear-gradient(90deg, #E29869 0%, #25067D 99.03%);
}

.hideMobileOptions {
    opacity: 0;
    animation: animationHideMobileOptions 1s ease;
    transform: translateY(-150%);
}

@keyframes animationHideMobileOptions {
    0% { transform: translateY(0%); } 100% { transform: translateY(-150%); }
}

.showMobileOptions {
    opacity: 1;
    animation: animationShowMobileOptions 1s ease;
    transform: translateY(0%);
}

@keyframes animationShowMobileOptions {
    0% { transform: translateY(-150%); } 100% { transform: translateY(0%); }
}

.containerMobileOptions {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    z-index: 99999999;
}

.containerMobileOptions a {
    display: block;
    font-size: 24px;
    margin: 25px;
}

.containerMobileOptions button {
    display: block;
    font-size: 24px;
    margin: 25px;
    padding: 0;
}

.containerMobileLinks {
    margin: 20px 0 0 0;
}

.closeButton {
    display: block;
    margin: 20px 20px 20px auto;
    cursor: pointer;
}

.containerDesktop {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .containerDesktop {
        display: none;
    }

    .containerLeftHeaderOptions {
        display: block;
    }

    .containerLinks {
        display: block;
    }

    .containerMenuMobile {
        display: flex;
        align-items: center;
        /* justify-content: center;
        width: 60px;
        height: 60px;
        cursor: pointer; */
    }

    .containerModal {
        width: 85%;
        margin: 100px auto 0 auto;
    }

    .containerTextDisclaimer {
        width: 95%;
    }

    .containerActionsModal {
        flex-direction: column;
    }

    .design_button {
        margin: 10px auto;
    }


    .code_button {
        margin: 10px auto;
    }

    .imgModal {
        width: 40%;
    }

    .containerMobileOptions button {
        display: flex;
        padding: 5px 15px;
    }

}