.containerServiceCards {
  justify-content: space-around;
  margin-top: 50px;
  display: flex;
}

.serviceCard {
  display: block;
  background: none;
  border: 3px solid #ff7897;
  border-radius: 10px;
  max-width: 95%;
  width: 28%;
  padding: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.serviceCard > h3 {
    color:#ff7897;
}

.serviceCard > p {
    color:#2C2C2C;
}

.serviceCard:hover {
  background-color: #ff7897;
}

.serviceCard:hover > h3 {
  color:#ffffff;
}

.serviceCard:hover > p {
  color:#f0f0f0;
}

.serviceCard:hover > svg {
  color:#ffffff !important;
}

.containerServices {
  margin: 150px 0 0 0;
}

.preTitleServices {
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  color: #2C2C2C;
}

.titleServices {
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: #ff7897;
}

@media screen and (max-width: 1200px) {
  .containerServiceCards {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {

  .serviceCard {
    width: 80%;
    margin: 30px auto 0 auto;
  }
}