.titleCardsGallery {
    margin-top: 170px;
    text-align: center;
    color: #fff;
}

.containerCardsGallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.cardGallery {
    overflow: hidden;
    width: 30%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    min-height: 630px;
}

.cardGallery > div {
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
}



.showImageEffect {
    transition: 0.6s;
    transform: scale(1.1);

}

.hideImageEffect {
    transition: 0.6s;
    transform: scale(1);
}

.showTextContainer {
    background-color: #2c2c2cc7;
    max-width: 100%;
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.hideTextContainer {
    cursor: pointer;
}

.containerTextHover {
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 3000px) {
    .cardGallery {
        width: 15%;
    }
}

@media screen and (max-width: 2400px) {
    .cardGallery {
        width: 23%;
    }
}

@media screen and (max-width: 1900px) {
    .cardGallery {
        width: 26%;
    }
}

@media screen and (max-width: 1600px) {
    .cardGallery {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .containerCardsGallery {
        width: 90%;
    }

    .cardGallery {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {
    .cardGallery {
        width: 61%;
        margin: 15px auto;
        min-height: 180px;
        height: 500px;
    }

    .showTextContainer {
        height: 60vh;
    }

    .showImageEffect {
        background-size: 100% 80%;

    }

    .hideImageEffect {
        background-size: 100% 80%;
        margin-top: 50%;
    }
}

@media screen and (max-width: 650px) {
    .containerCardsGallery {
        width: 100%;
    }

    .cardGallery {
        width: 80%;
        margin: 40px auto;
        min-height: 380px;
        height: 48vh;
    }
}

@media screen and (max-width: 400px) {
    .cardGallery {
        width: 95%;
        margin: 40px auto;
        min-height: 380px;
    }
}


.mainContainerCards, .containerShowDescriptions, .containerHideDescriptions {
    display: flex;
    max-width: 100%;
    height: 630px;
    align-items: center;
}

.containerShowDescriptions {
    opacity: 1;
    transition: 0.5s;
}


.containerHideDescriptions {
    transition: 0.5s;
    opacity: 0;
}

.showTitle {
    opacity: 1;
    color: #fff;

    animation-name: animation_showText;
    animation-duration: 0.7s;
    /* transform: translate(0px, 0px); */
}

@keyframes animation_showText {
    from {
        transform: translate(0px, -40px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.showDescription {
    opacity: 1;
    color: #fff;

    animation-name: animation_showDescription;
    animation-duration: 0.7s;
    /* transform: translate(0px, 0px); */
}

@keyframes animation_showDescription {
    from {
        transform: translate(0px, 40px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.hideTitle {
    opacity: 0;
    color: #fff;
    animation-name: animation_hideTitle;
    animation-duration: 0.7s;
    text-align: center;
}

@keyframes animation_hideTitle {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(0px, -40px);
        opacity: 0;
    }
}

.hideDescription {
    opacity: 0;
    color: #fff;
    animation-name: animation_hideDescription;
    animation-duration: 0.7s;
    text-align: center;
}

@keyframes animation_hideDescription {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(0px, 40px);
        opacity: 0;
    }
}
