.containerProjectPage {
  margin: 0 0 100px 0;
}

.containerFirstText {
    text-align: center;
    max-width: 100%;
    width: 70%;
    margin: 15% auto 10px auto;
    color: #fff !important;
  }

  .containerFirstText > h2 {
    font-size: 60px;
    line-height: 65px;
    color: #3e3e3e;
    color: #fff;
    margin: 0 auto;
    font-weight: normal;
    padding: 13% 0 0 0;
}

.firstDescription {
    font-size: 20px;
    color: #c3c3c3;
    line-height: 35px;
    margin: 70px 100px 100px;
}

.containerBanner {
    margin: 90px 0;
    justify-content: center;
    display: flex;
}

.imageBanner {
    display: block;
    max-width: 95% !important;
    width: 100%
}


.containerContent {
    padding: 2em 0em 2em 0em;
}

.firstContentTitle {
    font-size: 48px;
    line-height: 30px;
    color: #ffffff !important;
    font-weight: 500;
    line-height: 60px;
}

.containerContent p {
    font-size: inherit;
    line-height: 28px;
    color: #bcbcbc;
    text-align: justify;
}

.containerLastImageBanner {
    display: flex;
    justify-content: center;
}

.lastImageBanner {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
    margin: 40px auto;
}

.arrowBack {
    margin: 0 0 0 5%;
    display: flex;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    color: #fff;
}

.buttonKnowMore {
    width: 300px;
    padding: 20px;
    border: none;
    display: flex;
    max-width: 100%;
    border-radius: 5px;
    align-items: center;
    margin: 100px auto 0px auto;
    cursor: pointer;
    background-color: #00538F;
    justify-content: center;
    border: 1px solid #00538F;
    color: #fff;
    font-size: 18px;
}

.buttonKnowMore:hover {
    transition: 0.6s;
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #00538F;
    color: #00538F;
}

@media screen and (max-width: 700px) {
    .containerFirstText {
        width: 95%;
        margin: 60% auto 10px auto;
    }

    .containerFirstText > h2 {
        width: 100%;
        padding: 20% 0 0 0;
    }

    .firstDescription {
        font-size: 20px;
        color: #8d8d8d;
        line-height: 35px;
        margin: 70px 0;
    }

    .containerContent {
        padding: 2em 2em;
    }

    .containerContent p {
        word-spacing:-1px;
    }
}
