.show-bg-modal {
    display: block !important;
    animation: showBgModal 1s ease;
}

@keyframes showBgModal {
    0% { opacity: 0; }
    100% { opacity: 100%;}
}

.hide-bg-modal {
    display: none !important;
    transition: 1s;
}


.show-modal {
    transition: 1s;
    animation: showModal 1s ease;
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: translatey(-130%);
    }
    
    100% {
        opacity: 1;
        transform: translatey(0%);
    }
        
}
