@import './cpmStyles/cpmHome.scss';
@import './cpmStyles/cpmAbout.scss';

@import './cpmStyles/cpmContact.scss';
@import './cpmStyles/cpmFoot.scss';
@import './cpmStyles/cpmServices.scss';
@import './cpmStyles/cpmSkills.scss';


.title-1{
    margin-top: 150px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.title-2{
    margin-top: 100px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}


.content-1{
    border: 1px solid black;
    padding: 30px;
    font-size: 20px;
    margin-top: 50px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}